@import './tailwindcss.base.css';

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: 'IM_Hyemin-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.great-vibes {
  font-family: 'Great Vibes', cursive;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
